body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8e8e8; /* pasztell szürke */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background: #f5f5f5; /* világosabb pasztell a rács mögött */
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
  object-fit: cover;
}

.gallery img:hover {
  transform: scale(1.03);
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 230, 0.95);;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
}

.lightbox-content {
  position: relative;
  width: 100%;
  max-width: 1100px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lightbox-content img {
  width: 100%;
  height: auto;
  max-height: 75vh; /* fontos */
  object-fit: contain;
  border-radius: 8px;
}

.lightbox-caption {
  color: #111; /* sötétebb szöveg */
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
  max-width: 100%;
  word-break: break-word;

  background: rgba(255, 255, 255, 0.75); /* halvány fehér háttér */
  padding: 8px 12px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.lightbox-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.lightbox-nav button {
  pointer-events: all;
  background: rgba(0,0,0,0.6);
  border: none;
  color: #fff;
  font-size: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.lightbox-close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #fff;
  background: rgba(0,0,0,0.6);
  border: none;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (max-width: 600px) {
  .lightbox-content {
    max-width: 100%;
    max-height: 90vh;
  }

  .lightbox-content img {
    max-height: 65vh;
  }

  .lightbox-caption {
    font-size: 14px;
  }

  .lightbox-nav button {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .lightbox-caption {
    font-size: 14px;
  }
  .lightbox-nav button {
    font-size: 30px;
    width: 50px;
    height: 50px;
  }
}
